* {
  font-family: 'Indie Flower', cursive;
}

main {
  display:grid;
  grid-template: 1fr / 1fr 1fr 1fr
  /* float: left;
  margin-left: 20px; */
}

img {
  height: 250px;
  border: 1px solid black;
  
}

li {
  list-style: none;
}

.photo-template {
  display: none;
}